.book {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.book .info {
  width: 50%;
}

.book img {
  max-width: 300px;
  width: 90%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .book {
    display: flex;
    flex-direction: column;
  }
  .book .info {
    width: 100%;
  }
  .book .image {
    width: 100%;
    margin: 40px auto;
  }
  .book img {
    max-width: none;
    width: 100%;
  }
  .pr-4 {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {}
