@media only screen and (max-width: 568px) {
  .flex {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .p-4 {
    padding: 10px;
  }
  .menu {
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
  }
}
